.main-wrapper {
  display: grid;
  grid-template-rows: 56px 1fr;
  grid-template-columns: 1fr;
}
.content-selector-bar {
  position: relative;
  border-top: 1.4px solid #e5e5e5ab;
  border-bottom: 1.4px solid #e5e5e5ab;
  padding: 0px 24px;
  /* padding-right: 0px; */
  overflow: hidden;
  width: auto;
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: auto;
  grid-template-rows: 56px;
}
.more-arrow {
  border: none;
  background-color: transparent;
  /* opacity: 0.9; */
  display: grid;
  grid-auto-flow: column;
  /* grid-template-columns: 50px 50px; */
  place-items: center;
  position: absolute;
  margin-left: 94%;
  /* margin-right: 10px; */
  height: 100%;
  width: 100px;
  cursor: pointer;
}
.left {
  width: 70px;
  height: 100%;
  background: linear-gradient(to left, white 20%, rgba(255, 255, 255, 0) 80%);
}

.content-selector-button {
  margin: 12px 12px 12px 0px;
  padding: 0px 12px;
  height: 32px;
  font-size: 14px;
  font-family: sans-serif;
  border-radius: 16px;
  border: 0.5px solid #d9d9d9;
  background-color: #f2f2f2;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.content-selector-button:hover {
  background-color: #d6d6d680;
}
.current-content-selected {
  background-color: black;
  border: 0.5px solid black;
  color: white;
}

/* main!! */

.main {
  width: 100%;
  padding-top: 24px;
  padding: 24px 20px 0px 20px;
  display: grid;
  /* grid-auto-flow: column; */
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(270px, 377px));
  grid-template-rows: repeat(auto-fit, minmax(180px, 326px));
  column-gap: 18px;
  background-color: #f9f9f9;
}
.contet-wrapper {
  padding-bottom: 12%;
}
.content-box {
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr;
}
.thumbnail-img {
  /* position: relative; */
  height: 100%;
  width: 100%;
  /* padding: 0px 3px; */
}
.video-link {
  position: relative;
}
.video-link::before {
  position: absolute;
  content: "2:33";
  font-size: 12px;
  font-family: roboto;
  background-color: black;
  color: white;
  border-radius: 4px;
  opacity: 0.9;
  display: grid;
  place-content: center;
  place-items: center;
  padding: 4px;
  width: 33px;
  height: 18px;
  margin-top: 47%;
  margin-left: 87%;
}
.video-description {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
}
.text-description {
  display: grid;
  align-items: center;
  padding-top: 7px;
  gap: 7px;
}
.text-description a {
  text-decoration: none;
}
.video-title {
  font-size: 16px;
  font-family: roboto;
  font-weight: 500;
  padding-top: 7px;
  color: #030303;
}
.statistics {
  padding-bottom: 10px;
  display: grid;
  gap: 3px;
  align-items: start;
}
.chanel-name,
.statistics div * {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #606060;
}
.views::after {
  content: "·";
  margin: 0px 1px 0px 4px;
  font-family: roboto;
  font-weight: bolder;
  font-size: 15px;
  height: 30px;
  display: inline;
  place-content: center;
}
.chanel-pic {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: gray;
  margin: 12px 12px 0px 0px;
}
