* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #f9f9f9; */
}
.navbar {
  padding: 0px 16px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 718px auto;
  grid-template-rows: 56px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 100;
}
.test {
  margin-left: 34px;
  margin-right: 20px;
}
.navbar_item {
  /* padding: 8px; */
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 100%;
  place-content: center;
  place-items: center;
  background-color: white;
}
.yt-logo-wraper {
  border: none;
  outline: none;
  background-color: transparent;
  width: 120px;
  height: 100%;
  padding: 18px 14px 18px 16px;
  cursor: pointer;
}
.menu-wrapper {
  height: 40px;
  width: 40px;
  padding: 8px;
  cursor: pointer;
  border: none;
  background-color: white;
}

.yt-logo {
  height: 20px;
  width: 90px;
  background-color: white;
}
.navbar-search-unit {
  padding: 8px 0px;
  height: 100%;
  gap: 8px;
  width: 100%;
  grid-template-columns: 1fr auto;
}
.navbar_item_search-input {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  grid-template-columns: 1fr auto;
  height: 100%;
}
#search-form {
  background-color: white;
  height: 100%;
  width: 100%;
  border: #cccccc solid 1px;
  border-right: none;
  outline: none;
  padding: 2px 6px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: 0px 0.6px 1px 0.1px rgba(128, 128, 128, 0.221) inset;
}
.search-button-wrapper {
  height: 100%;
  width: 64px;
  display: grid;
  place-items: center;
}
.search-icon {
  width: 24px;
  height: 24px;
}
.search-button {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  border: #cccccc solid 1px;
  outline: none;
  padding: 1px 6px;
  border-radius: 0%;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #f8f8f8;
  cursor: pointer;
  z-index: 100;
}
.search-button:hover {
  background-color: #d6d6d65e;

  /* outline: 0.5px solid #cccccc; */
}
#search-bar {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  background-color: white;
}
.navbar_item_search-voice {
  height: 100%;
  width: 40px;
  padding: 8px;
  border: none;
  background-color: #f9f9f9;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.function-item-wrapper {
  height: 100%;
  padding: 8px;
}
.navbar-right-functions {
  padding: 6px 0px;
  height: 100%;
  gap: 5px;
}
.function-items-icons {
  height: 24px;
  width: 24px;
}
.notifications {
  position: relative;
}
.notifications::before {
  border: 2px solid white;
  display: grid;
  place-items: center;
  color: white;
  font-size: 12px;
  font-family: sans-serif;
  /* font-weight: bold; */
  content: "9+";
  background-color: #cc0000;
  border-radius: 12px;
  width: 21.4px;
  height: 15px;
  box-sizing: content-box;
  position: absolute;
  margin-top: 6px;
  margin-left: 20px;
}
.profice-pic-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 60px;
  padding: 1px 6px;
}
.profile-pic {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
.navbar-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 100%;
  padding: 8px;
}
@media screen and (max-width: 1102.33px) {
  .navbar {
    grid-template-columns: auto 1fr auto;
  }
  .test {
    /* margin-right: 23px; */
  }
  .navbar-search-unit {
    grid-template-columns: 1fr auto;
  }
  .navbar_item_search-input {
    /* margin-left: 0px; */
    /* width: 100%; */
    grid-template-columns: 1fr auto;
  }
  #search-form {
    width: 100%;
  }
}
@media screen and (max-width: 615.33px) {
  #search-form {
    display: none;
  }
  .navbar-search-unit {
    gap: 5px;
  }
  .test {
    margin-left: 0px;
    margin-right: 5px;
    width: auto;
  }
  .search-button-wrapper {
    width: auto;
    display: grid;
    justify-items: end;
  }
  .search-button {
    width: auto;
    background-color: white;
    border: none;
    position: absolute;
    background: transparent;
  }
  .search-button:hover {
    background-color: white;
    justify-self: end;
  }
  .navbar-search-input {
    justify-items: end !important;
  }
  .navbar_item_search-voice {
    background-color: white;
  }
}
@media screen and (max-width: 425px) {
  .search-button {
    position: static;
    background: transparent;
  }
  .navbar_item_search-voice {
    display: none;
  }
  .notifications {
    display: none;
  }
  .test {
    margin-right: 0px;
    gap: 0px;
  }
  .navbar-right-functions {
    gap: 0px;
  }
  .navbar {
    padding: 0px 8px;
  }
}
